<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="content container">
    <h2 class="modern-title"><%= pageTitle %></h2>

    <!-- Course Form -->
    <form action="<%= formAction %>" method="POST" class="modern-form">
      <div class="form-group">
        <label for="courseName" class="modern-label">Course Name:</label>
        <input data-id="<%= course && course.id !== undefined ? course.id : null %>" type="text" id="courseName" name="courseName" value="<%= course ? course.name : '' %>" class="custom-input" required>

      </div>

      <div class="form-group">
        <label for="teacher" class="modern-label">Teacher:</label>
        <div>
          <div class="select-wrapper">
            <select id="teacher" name="teacher" class="select custom-select" required>
              <% teachers.forEach(teacher => { %>
                <option value="<%= teacher.id %>" <%= course && course.teacher.name === teacher.name ? 'selected' : '' %>><%= teacher.name %></option>
              <% }); %>
            </select>
            <div class="select-arrow">&#9660;</div>
            <div class="select-dropdown">
              <!-- Dropdown options go here -->
            </div>
          </div>
        </div>
        
        
      </div>

      <button id="submitButton" type="button" class="button modern-button"><%= buttonLabel %></button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>

      const inputCourseName = document.querySelector('#courseName');
      inputCourseName.focus();
  
      document.querySelector('#submitButton').addEventListener('click', () => {
        const newCourse = {
          id: inputCourseName.getAttribute('data-id'),
          name: inputCourseName.value,
          teacher: document.querySelector('#teacher').value
        };
  
        // Send a POST request to create a new course
        axios.post(`../api/course/${JSON.stringify(newCourse)}`).then(res => {
          console.log(res);
          if (res.status === 200) {
            alert('Course Created, ID: ' + res.data);
          } else {
            alert('Failed to create ' + newCourse.name);
          }
        }).then(window.location.assign(`${window.location.origin}\\courses`)).catch(e => alert(e));
      });
  </script>
  >
</body>

</html>
