<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="container card">
    <h2 class="card-title modern-title"><%= pageTitle %></h2>

    <!-- Course Form -->
    <form action="<%= formAction %>" method="POST" class="card-content modern-form">
      <label for="teacherName" class="modern-label">Teacher Name:</label>
      <input type="text" data-id="<%= teacher && teacher.id !== undefined ? teacher.id : null %>" id="teacherName" name="courseName" value="<%= teacher ? teacher.name : '' %>" class="custom-input" required>
      <button id="submitButton" type="button" class="button modern-button"><%= buttonLabel %></button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
  document.querySelector('#submitButton').addEventListener('click', () => {
    const id = document.querySelector('#teacherName').dataset.id;
    const teacherName = document.querySelector('#teacherName').value;
    const newTeach = { name: teacherName, id: id };
    axios.post(`../api/teacher/${JSON.stringify(newTeach)}`).then(res => {
      console.log(res)
      if (res.status == 200) {
        alert('Teacher Created, ID: ' + res.data.id)
      } else {
        alert("Failed to create " + teacherName)
      }
    }).then(window.location.assign(`${window.location.origin}\\teachers`)).catch(e => alert(e));
  })
</script>
</html>
