<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="content container">
    <h2><%= pageTitle %></h2>

    <!-- Course Form -->
    <form action="<%= formAction %>" method="POST">
      <label for="teacherName">Teacher Name:</label>
      <input type="text" id="teacherName" name="courseName" value="<%= teacher ? teacher.name : '' %>" required>

      <button type="submit"><%= buttonLabel %></button>
    </form>
    <button id="submitButton" type="button"><%= buttonLabel %></button>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    
    document.querySelector('#submitButton').addEventListener('click', () => {
        const teacherName = document.querySelector('#teacherName').value;
        axios.post(`./api/teacher/${JSON.stringify({name:teacherName})}`).then(res => {
            console.log(res)
            if(res.status == 200){
                alert('Teacher Created, ID: ' + res.data.id)
            }
            else{
                alert("Failed to create " + teacherName )
            }

        }).catch(e => alert(e));
    })
</script>
</html>